.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

/* timer */

.containerTimer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.TimerGlobal{
  font-size: 5rem;
  margin-top: 2rem;
}

/* btn */

button{
  background-color: #c3cedd;
  border: none;
  border-radius: 0.4rem;
  color: black;
  padding: 1rem 2.5rem;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.btnChoix{
  position: absolute;
}

.top{
  top: -2rem;
}

.left{
  right: -4.5rem;
}

.bottom{
  bottom: -2rem;
}

.right{
  left: -4.5rem;
}

/* roue minuteur */

.selectTemp{
  position: relative;
  width: 20rem;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.roue{
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background-color: white;
  border : 0.3rem solid black;
  position: relative;
}

.number {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform:
    rotate(calc(var(--i) * 30deg))
    translateY(-7rem)
    rotate(calc(var(--i) * -30deg));
  transform-origin: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: -0.9rem;
  margin-top: -0.8rem;
  cursor: pointer;
  /*toute la meme largeur pour que 12 et 1 soit au meme endroit*/
  width: 2rem;
}

.trait{
  width: 0.2rem;
  height: 7rem;
  background-color: black;
}

.containerTrait{
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin:bottom center ;
  transition: transform linear;
}

/* modale */

.modaleTimer{
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  background: rgba(83, 83, 83, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.containerModale{
  background: white;
  color: black;
  padding: 3rem 3rem;
  border-radius: 1rem;
}

.timerEndText{
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}



